<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/ykv5aax.css">
    <link rel="stylesheet" href="/style.css">
    <title>Express Lab 2</title>
</head>
<body>
   <h1>Your Pizza</h1>
   <section class="main-section">
        <p>Size: {{custom.size}} </p> 
        <p>Toppings: {{custom.toppings}} </p> 
        <p>Gluten-Free Crust: {{custom.glutenfree}} </p> 
        <p>Special Instructions: {{custom.instructions}} </p> 
        <p>Price: {{price}} </p> 
        {{#if freeDelivery}}
        <p>Becuase your order meets the $15.00 minimum, you get <span class="free">FREE DELIVERY!</span></p>
        {{/if}}
    </section>
   <p class="nav"><a href="/custom-pizza">Build another pizza</a></p>
   <p class="nav"><a href="/">Back to Homepage</a></p>
</body>
</html>